
$element-height: 34px;

/* textboxes */

#text-section {
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
       
    .text-input {
        border: none;
        display: block;
        font: inherit;
        height: $element-height;
        line-height: $element-height;
        margin: 0;
        outline: none;
        padding-top: 10px;
        padding-left: 4px;
        width: 48%;
        border-bottom: 2px solid lightgrey;
        background: rgb(248, 248, 248);
        border-radius: 0;
    }
    
    .text-input:focus {
        border-bottom: 2px solid #4285f4;
    }
    
}

/* select dropdowns */

.pizza-select {

    background: url("../assets/drop-down-arrow.png") no-repeat 98% center;
    height: $element-height;
    line-height: $element-height;
    overflow: hidden;
    width: 100%;

    select {

        background: transparent;
        border: none;
        color: rgba(68, 68, 68, 0.6);
        height: $element-height;
        padding: 5px;
        /* If you add too much padding here, the options won't show in IE */
        padding-left: 4px;
        font: 400 16px Helvetica, Arial, sans-serif;
        border-bottom: 2px solid lightgrey;
        border-top: 2px solid lightgrey;
        height: inherit;
        width: 110%;
    }
}


/* checkbox settings */

#checkbox-section {

    .checkbox-container {
        display: flex;
        margin-top: 5px;
        cursor: pointer;
    }
    
    .checkbox-box {
        width: 26px;
        height: 26px;
        border: 2px solid lightgrey;
        display: flex;
        justify-content: center;  
    }
    
    .checkbox-box div {
        opacity: 0;
    }
    
    .checkbox-container input {
        display: none;
    }
    
    .checkbox-text {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    
    .toggle-check {
        margin-left: 4px;
        border: none !important;
        opacity: 1 !important;
    }
}

/* date settings */

[type="date"] {
    background: transparent url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.timedate-select input {
    border: 2px solid lightgrey;
    border-radius: 0px;
    background-color: transparent;
    padding: 3px 5px;
    font-size: inherit;
    width: 100%;
    height: $element-height;
}

/* submit settings */

#submit-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    input {
        cursor: pointer;
        width: 100px;
        height: $element-height;
        background: #4285f4;
        color: white;
        border: none;
        border-radius: 2px;
        /* ios */
        -webkit-appearance: none;

    }
}


